.email-table-row:hover{
    background-color: #161616;
}

/* -----------------Email View Email ---------------- */
.admin-email-modal-conatiner{
  /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
}

.admin-email-modal-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
  min-height: 660px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  color: #000;
  border-radius: 20px;
}
.admin-email-modal-content-input{
  border: 1px solid #B9B4C7;
  border-radius: 10px;
  padding: 5px;
}

.admin-email-modal-content-message{
  background: #EEEEEE;
  padding: 20px;
  margin-top: 20px;
  height: 300px;
}
.admin-email-modal-content-status{
  padding: 5px 10px;
  border-radius: 20px;
  color: #fff;

}

.admin-email-success{
  background-color: #114232;
}

.admin-email-modal-content-date{
  font-weight: bold;
  margin-bottom: 60px;
}
.admin-email-modal-content-btn{
  border: none;
  background-color: #EE4E4E;
  padding: 10px 10px;
  border-radius: 10px;
  color: #fff;
  margin-left: 10px;
  transition: all ease 0.5s;


}
.admin-email-modal-content-btn:hover{
  background-color: #A0153E;
}
.admin-email-modal-content-btn2{
  border: 1px solid #888;
  padding: 10px;
  border-radius: 10px;
  transition: all ease 0.5s;

}
.admin-email-modal-content-btn2:hover{
  background-color: #000;
  color: white;
}
  